.dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #fa9e1b;
    color: white !important;
}

.order {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 12px;
    font-weight: 700;
    padding: 3px;
    margin: 5px;
    height: 28px;
    position: absolute;
    text-align: center;
    opacity: 1;
    background: #f99f03;
    color: #fff;
    -webkit-animation: bounce .3s infinite alternate;
    -moz-animation: bounce .3s infinite alternate;
    animation: bounce .3s infinite alternate;
    -webkit-animation-iteration-count: 8;
    -moz-animation-iteration-count: 8;
    animation-iteration-count: 8;

}

.email {
    height: 22px;
    width: 45% !important;
    margin-right: 1%;
    margin: 1.6%;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    font-weight: 600;
    color: #929191;
    border-radius: 0px;
}

@-webkit-keyframes bounce {
    to {
        -webkit-transform: scale(1.2);
    }
}

@-moz-keyframes bounce {
    to {
        -moz-transform: scale(1.2);
    }
}

@keyframes bounce {
    to {
        transform: scale(1.2);
    }
}

.join {

    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1;
    font-weight: 900;
    color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;

}

.order:hover {
    background: white;
    color: #351652;
}

.join:hover {
    color: #351652;
}

.header.scrolled .main_nav_col {
    height: 60px !important;
}

input[type="email"].email::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 9.4px;
}

input[type="email"].email::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 9.4px;
}

input[type="email"].email:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 9.4px;
}

input[type="email"].email:-moz-placeholder {
    /* Firefox 18- */
    font-size: 9.4px;
}

.menu_item a::after {
    display: block;
    position: absolute;
    top: 60%;
    left: 0;
    width: 0;
    height: 4px;
    /* background: #FFFFFF; */
    letter-spacing: 2px;
    content: '';
    z-index: 10;
    pointer-events: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 400ms ease;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    /* margin-left: .255em; */
    /* vertical-align: .255em; */
    content: "";
    border-top: 0em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.menu_item a::after {
    display: block;
    position: absolute;
    top: 80%;
    left: 0;
    width: 0;
    height: 4px;
    background: #ffffff00;
    letter-spacing: 2px;
    content: '';
    z-index: 10;
    pointer-events: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 400ms ease;
}

.mble-menu {
    margin-top: -200px;
}

@media only screen and (min-width: 575px) {
    .top_bar-mob {
        display: none;
    }

    #newsletter {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .offers {
        width: 100%;
        padding-top: 49px;
        padding-bottom: 43px;
        background: #f3f6f9;
    }

    .intro {
        width: 100%;
        padding-top: 2px;
        padding-bottom: 105px;
    }

    .testimonials {
        display: none;
        width: 100%;
        top: -100px;
        padding-top: 0px;
        padding-bottom: 10px;
        background: #FFFFFF;
    }
    .d-xs-zee-none{
        display: none;
    }
}

.top_bar-mob {
    width: 100%;
    height: 36px;
    background: #350a4e;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    width: 200px;
    border-radius: 7px;
}

.input-group-btn {
    position: relative;
    -ms-flex-align: stretch;
    align-items: stretch;
    font-size: 0;
    white-space: nowrap;
    width: 200px;
}


.widgettitle {
    border-bottom: 1px dashed #6c6c6c !important;
}

.footer_wrap .widget_nav_menu li {
    line-height: .8em !important;
}

.footer_wrap .scheme_dark.vc_row,
.scheme_dark.footer_wrap {
    background-color: #323a42;
    color: #ffffff !important;
}

.footer_wrap .scheme_dark.vc_row a,
.scheme_dark.footer_wrap ul li a {
    color: #ffffff !important;
    font-weight: normal !important;
    font-size: 13px !important;
}

.offers_link {
    margin-top: 0px;
}

.offers_item {
    border: 1px solid;
    padding: 5%;
}

.offers {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    background: #f3f6f9;
}


.box {
    padding: 7px;
    font-size: 22px;
    color: white;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
}

.offers_col {
    margin-bottom: 15px;
}

.offers_price {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #eda84a;
    line-height: 25px;
}

.offers_items {
    margin-top: 10px;
}

.intro_items {
    margin-top: 10px;
}

.intro_center {
    margin-top: 8%;
    padding: 20px;
}

.intro_item_content {
    width: 100%;
    height: 67%;
    z-index: 3;
    box-shadow: 2px 2px 20px 7px #00000038;
}

.testimonials {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    background: #FFFFFF;
}

.search {
    top: 0px;
}

.search_tabs {
    height: 71px;
}

.home {
    width: 100%;
    height: 580px;
}

.home_slider_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: 10;
    background: #31124b;
}

.intro {
    position: initial;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    /*top: 88px;*/
}

.trending {
    width: 100%;
    padding-top: 50px;
    /* padding-bottom: 50px; */
    top: -100px;
}

#subscribe_user_email {
    padding: 0.3rem .7rem;
    margin: 3px 0px 4px;
    font-size: smaller;
    border-radius: 0;
}

.join-now-zee {
    position: relative !important;
    margin: 5px 0px 5px 5px !important;
    border-radius: 0 !important;
}

ul li {
    list-style: none !important;
    margin-bottom: 4px;
}

.order {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 12px;
    font-weight: 700;
    padding: 3px;
    margin: 5px;
    height: 28px;
    position: absolute;
    text-align: center;
    opacity: 1;
    background: #f99f03;
    color: #fff;
    -webkit-animation: bounce .3s infinite alternate;
    -moz-animation: bounce .3s infinite alternate;
    animation: bounce .3s infinite alternate;
    -webkit-animation-iteration-count: 8;
    -moz-animation-iteration-count: 8;
    animation-iteration-count: 8;

}

.email {
    height: 22px;
    width: 45% !important;
    margin-right: 1%;
    margin: 1.6%;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    font-weight: 600;
    color: #929191;
    border-radius: 0px;
}

@-webkit-keyframes bounce {
    to {
        -webkit-transform: scale(1.2);
    }
}

@-moz-keyframes bounce {
    to {
        -moz-transform: scale(1.2);
    }
}

@keyframes bounce {
    to {
        transform: scale(1.2);
    }
}

.join {

    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1;
    font-weight: 900;
    color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;

}

.order:hover {
    background: white;
    color: #351652;
}

.join:hover {
    color: #351652;
}

.header.scrolled .main_nav_col {
    height: 60px !important;
}

input[type="email"].email::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 9.4px;
}

input[type="email"].email::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 9.4px;
}

input[type="email"].email:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 9.4px;
}

input[type="email"].email:-moz-placeholder {
    /* Firefox 18- */
    font-size: 9.4px;
}

.menu_item a::after {
    display: block;
    position: absolute;
    top: 60%;
    left: 0;
    width: 0;
    height: 4px;
    /* background: #FFFFFF; */
    letter-spacing: 2px;
    content: '';
    z-index: 10;
    pointer-events: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 400ms ease;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    /* margin-left: .255em; */
    /* vertical-align: .255em; */
    content: "";
    border-top: 0em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.menu_item a::after {
    display: block;
    position: absolute;
    top: 80%;
    left: 0;
    width: 0;
    height: 4px;
    background: #ffffff00;
    letter-spacing: 2px;
    content: '';
    z-index: 10;
    pointer-events: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 400ms ease;
}

.mble-menu {
    margin-top: -200px;
}

@media only screen and (min-width: 575px) {
    .top_bar-mob {
        display: none;
    }

    #newsletter {
        display: none;
    }


}

@media only screen and (max-width: 575px) {
    .offers {
        width: 100%;
        padding-top: 49px;
        padding-bottom: 43px;
        background: #f3f6f9;
    }

    .intro {
        width: 100%;
        padding-top: 2px;
        padding-bottom: 105px;
    }

    .testimonials {
        display: none;
        width: 100%;
        top: -100px;
        padding-top: 0px;
        padding-bottom: 10px;
        background: #FFFFFF;
    }

}

@media only screen and (max-width: 1199px) {
    .d-lg-zee-block{
        display: none !important;
    }
    .d-lg-zee-block2{
        display: block !important;
    }
}

.top_bar-mob {
    width: 100%;
    height: 36px;
    background: #350a4e;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.dropbtn {
    background-color: #3498DB00;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-family: sans-serif;
    font-size: 36px;
    color: white;
    font-weight: 400;
}

.dropbtn1:hover,
.dropbtn1:focus {
    background-color: #fa9e1d;

}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show1 {
    display: block;
}

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 575px) {
    .no-js .owl-carousel {
        display: none;
    }

    .logo a img {
        width: 85%;
        margin-right: 7px;
    }

    .search_tabs {
        height: 160px !important;
    }
}

.hamburger i {
    font-size: 30px;
    color: #351652 !important;
}

.menu_item a {
    display: inline-block;
    position: relative;
    font-family: sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 400;
}

.search_item {

    margin-right: 5px;
}

.search_button {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 48px;
    padding-left: 18px;
    padding-right: 22px;
    background: #31124b;
    -webkit-transform: translateY(15px);
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px);
    border: none;
    outline: none;
    cursor: pointer;
}

.search_item:first-child {
    width: 15.453%;
}

.button {
    display: inline-block;
    height: 47px;

    overflow: hidden;
}

.container {
    animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
}

@keyframes showUp {
    0% {
        transform: scale(0);
    }

    100% {
        transoform: scale(1);
    }
}

.social_icon {
    padding: 10px;
}

/*.sb-serc {
    box-shadow: 2px 3px 8px 2px #000000d1;
    text-align: center;
    background: linear-gradient(to right, rgb(239, 239, 239) 0, rgb(255, 255, 255)) !important;
    border: 4px solid #fff;
    color: #313131;
    float: left;
    margin: 0 0 20px 0;
    overflow: hidden;
    padding-top: 15px;
}

.sb-serc p {
    font-size: 14px;
    line-height: 21px;
    overflow: hidden;
    padding: 17px 0px;
    text-align: center;
    min-height: 127px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sb-serc p {
    font-size: 14px;
    line-height: 21px;
    overflow: hidden;
    padding: 28px 7px -1px 0px;
    text-align: justify;
    min-height: 250px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #6d6d6d !important;
}*/

.nav-tabs>li {
    left: 30px;
    float: left;
    margin-bottom: 12px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    left: 0x;

    border: none !important;
    border-bottom-color: inherit !important;
    background: linear-gradient(to right, rgb(237, 220, 255) 0, rgb(255, 246, 234));

}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #fa9e1b;
    border-color: #fa9e1b;
}

.passenger-detail h3 {
    padding: 0px 20px;
    line-height: 1.6;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    color: #fff;
}

.bhoechie-tab-container {
    border: 1px solid #f5f5f5;
    margin-top: 38px;
    margin-right: -9px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    box-shadow: 0 0 8px rgba(29, 28, 28, 0.33);
}

.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 170%;
    height: auto;
    border: 7px solid white;
    box-shadow: 2px 2px 17px 2px #0000004d;
}

h2 {
    text-align: center;
    padding: 20px;
}

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    background-color: white;
    padding: 3%;
    box-shadow: 1px 1px 20px 1px #00000024;
}

.search {
    top: 0;
}

.home {
    width: 100%;
    height: 515px;
}

.home_slider_content h1:nth-child(1) {
    font-size: 31px;
    color: #ffffff;
    margin-top: 116px;
    margin-left: 845px;
    ;
    font-family: sans-serif;
}

.pz-offers {
    top: -40px !important;
    width: 100% !important;
    padding-top: 49px !important;
    padding-bottom: 43px !important;
    background: #f3f6f9 !important;
}

.inr-cnt{
    margin-bottom: 10px;
}
@media (min-width: 768px){
    .sec_customer_support {
        padding: 3%;
        margin-top: 110px;
        /*margin-right: 66px;*/
        margin-bottom: 73px;
        padding: 10px;
        margin-left: 67px;
        background-color: white;
        padding: 50px;
        box-shadow: 1px 0px 13px 7px #00000026;
    } 
}
@media (max-width: 768px){
    .sec_customer_support {
        margin-top: 82px;
        /*margin-right: -44px;*/
        margin-bottom: 12px;
        padding: 22px;
        margin-left: 12px;
    }
}

.bg-testimonial{
    background: #f3f6f9 !important;
}

.feature_list li{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ico-holder-zee{
    float: left;
    min-width: 73px;
}

.feature_list .text-holder-zee{
    overflow: hidden;
    line-height: 24px;
    font-weight: 400;
}

.feature_list .text-holder-zee h3{
    font-size: 1rem;
    font-weight: 700;
    color: #51356c;
    text-transform: uppercase;
    margin-bottom: 0.1rem;
}

.feature_list .text-holder-zee p{
    color: #77747a;
}
.below-content-zee p{
    font-size: 1.1rem;
    font-weight: lighter;
    margin-bottom: 0.3rem;
    color: #77747a;
}
.zee-purple{
    color: #51356c;
    font-weight: bold;
}

.zee-yellow{
    color: #f99f03;
    font-weight: bold;
}

.img-zee-box{
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center !important;
}